---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Speakers">
    <main>
        <h1>Call for speakers</h1>

        JavaZone 2024 will be the 22nd physical JavaZone conference and will consist of a day of pre-conference
        workshop, followed by two days of lightning talks and presentations in September.

        JavaZone is typically sold out, with more than 3200 attendees enjoying well over 100 sessions.

        JavaZone hosts both international and Norwegian speakers. We'd love to have you join us the coming September!

        Our call for speakers is open from January 29th until April 8th.

        <h2>What is it like speaking at JavaZone?</h2>

        Over the last decade JavaZone has grown to become one of the most important Java events in Europe! You can see for yourself – over 1500 videos from previous years talks are available for free at Vimeo, and the full program from JavaZone 2023 is also available.

        We can brag as much as we want, but JavaZone would be nothing without all the great speakers! That's why we need your help to make sure that JavaZone 2024 will be at least as awesome as the earlier events. If you think you have something interesting to share, please submit your talk or workshop.

        JavaZone is committed to diversity, and we are especially interested in quality submissions from groups that are under-represented in tech.

        <h2>Formats and durations</h2>

        You should think about which format your talk will work best in. Are you presenting a new idea, or do you require more time to elaborate on your subject? How hands-on do you want to be? We have three formats you can present your material in.

        Lightning talks
        10 or 20 minutes
        Are you presenting a great new idea, or want to give the audience a teaser for a cool topic? Then you should strongly consider the lightning talk format. Note that the 10-20 minute time limit is strictly enforced!

        Presentations
        45 or 60 minutes
        Presentations at JavaZone can be either 45 or 60 minutes long. This gives you room to elaborate on an idea. When submitting your talk, please indicate clearly in the outline how much time is reserved for questions.

        Workshops
        2 hours, 4 hours, 8 hours
        We will continue the popular workshop concept with a range of sessions on Tuesday, September 6th. The format for the workshops is in-depth, hands-on and interactive.

        <h2>Audience and topics</h2>

        JavaZone is a conference for developers and technical architects, with an emphasis on technical talks. However, we are open to talks about other areas, including methodology, project management, and other topics related to programming.

        Despite our conference name, we do not limit our content to Java technology. We will consider all talks based on their relevance to developers and technical architects. We do however set a focus on technology surrounding the JVM when selecting talks.

        <h2>Ongoing evaluation of talks</h2>
        Each year we receive hundreds of submissions and we consider each submission as it arrives. Due to a large number of submissions, we can not guarantee that you will hear from us immediately. We do however answer all submissions and will do so no later than end of June.

        Our advice to you is simple. Submit early! The earlier you submit, the more likely you are to be noticed. Avoid drowning in the end-of-Call for Speakers-tsunami!

        <h2>What's in it for me?</h2>
        Accepted presentations, lightning talks, and workshops
        As a JavaZone speaker, you get free admission to the conference. Additionally, you are also invited to the speakers' dinner, held on September 3rd.

        All accepted speakers can apply to join us on JourneyZone. See more information on Journeyzone here

        Coverage of expenses
        Please see our reimbursement policy if you have any questions regarding coverage of other expenses.

        Important principles
        JavaZone is proud to be an independent and community-driven conference. It is organized by volunteers from javaBin (the Norwegian Java User Group) and is run as a non-profit organization. This means that we have three important principles for selecting talks:

        We do not sell speaker slots.
        We do not accept sales pitches masked as presentations
        We do not differentiate between speakers from partners and independent speakers
        If your talk adheres to these very important principles, you are more than welcome to submit it to our Call for Speakers!

        We hope to see you at JavaZone 2024 - please feel free to spread the word to your local community!

        Best regards,
        the JavaZone Program Committee
    </main>
</Layout>
