---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Astro description"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>
<style is:global>
    /* makes sizing simpler */

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* remove default spacing */
    /* force styling of type through styling, rather than elements */

    * {
        margin: 0;
        padding: 0;
        font: inherit;
    }


    html {
        color-scheme: dark light; /* dark mode user-agent-styles */
        font-family: system-ui, sans-serif;
    }

    /* min body height */

    body {
        min-height: 100vh;
    }

    /* responsive images/videos */
    img,
    picture,
    svg,
    video {
        display: block;
        max-width: 100%;
    }

</style>
